@import "tailwindcss";

@theme {
  /* Our Custom Luxury Colors */
  --color-obsidian: #0A0A0A;
  --color-charcoal: #1A1A1A;
  --color-gold: #D4AF37;
  --color-gold-light: #F3E5AB;
  --color-gold-dark: #AA8C2C;
  --color-silver: #E0E0E0;

  /* Our Custom Fonts mapped from Next/Font */
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;

  /* Custom Gradients */
  --background-image-gold-gradient: linear-gradient(to right, #AA8C2C, #D4AF37, #F3E5AB);
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-obsidian);
    color: var(--color-silver);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  /* a, button, [role="button"] {
    cursor: none;
  } */

  /* Custom Selection Text */
  ::selection {
    background-color: var(--color-gold);
    color: var(--color-obsidian);
  }
}

/* Custom Scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-obsidian); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-charcoal); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold); 
}